 .u-section-1 {
  background-image: url("/images/bg2.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-align: start;
  font-size: 3rem;
  margin: 88px auto 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 1.875rem;
  font-weight: 300;
  margin: 15px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1202px;
  min-height: 82px;
  height: auto;
  margin: 12px -31px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: 30px 236px 0 706px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -46px auto 0 471px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -46px auto 0 1px;
  padding: 10px 18px 10px 17px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -46px auto 0 236px;
  padding: 10px 36px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -46px 1px 0 941px;
  padding: 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 35px;
    margin-left: 575px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 209px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 35px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 460px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 320px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 120px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 120px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 533px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 11px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 14px 311px 0 14px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 14px 0;
}

.u-section-2 .u-image-1 {
  min-height: 464px;
  background-image: url("../images/delhivery-e2e.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 78px;
    margin-right: 225px;
    width: 312px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 383px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 115px;
  }

  .u-section-2 .u-image-1 {
    min-height: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 277px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 415px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-3 .u-icon-1 {
  width: 100px;
  height: 99px;
  margin: 22px 129px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 22px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 8px 10px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 0;
}

.u-section-3 .u-icon-2 {
  width: 100px;
  height: 100px;
  margin: 19px 146px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 0 0 8px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 8px 8px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 415px;
}

.u-section-3 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-3 .u-icon-3 {
  width: 100px;
  height: 100px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-align: left;
  font-size: 1.875rem;
  width: 195px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-6 {
  text-align: center;
  font-size: 1.25rem;
  margin: 8px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 106px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 120px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    width: 274px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-3 .u-text-5 {
    width: 397px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 80px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-4 {
    width: 223px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    width: 340px;
  }
}